[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = ">=0.4.3"
boto3 = ">=1.16.25"
botocore = ">=1.19.25"
jmespath = ">=0.10.0"
s3transfer = ">=0.3.3"
simplejson = ">=3.17.2"
six = ">=1.15.0"
urllib3 = ">=1.25.10"
python-dateutil = ">=2.8.1"
pycurl = ">=7.43.0.6"
pykwalify = ">=1.7.0"
prettytable = ">=2.0.0"
PyYAML = ">=5.3.1"

[dev-packages]

[requires]
python_version = "3.7"
